## SvenCo-op map CFG file - syowa_japan
## Map Author: originaldon / tepodon
## Website: http://www.geocities.jp/tepodonsc35/
weapon_crowbar
weapon_pipewrench
weapon_glock
weapon_357
ammo_9mm 5
ammo_357 2
ammo_crossbow 1
ammo_buckshot 3